<nav class="navbar navbar-expand-lg navbar-dark bg-primary">

  <!-- <a class="navbar-brand" href="#">Angular 11 Nested Routing Example - HDTuto.com</a> -->

  <div class="collapse navbar-collapse" id="navbarText">

      <ul class="navbar-nav mr-auto">

      <li class="nav-item">

          <a class="nav-link" routerLink="/">Home</a>

      </li>

      <li class="nav-item">

          <a class="nav-link" routerLink="/posts">Posts</a>

      </li>

      </ul>

  </div>

</nav>



<div class="container">

  <br/>

  <router-outlet></router-outlet>

</div>